@import './variables.scss';

/* NORMALIZE */

body, html {
  margin:0;
  padding: 0;
  width: 100%;
  height: auto;
}

*{
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

h1, h2 {
  margin: inherit;
}

button{
  background: none;
  border:none;
  cursor: pointer;
}

ul{
 list-style: none;
 padding: 0;
}

strong{
  font-weight: 800;
}

#app,
#app > div {
  min-height: 100vh;
}

::-webkit-scrollbar{
  width: 7px;
  background: #DDD;
}

::-webkit-scrollbar-thumb{
  background: #AAA;
  border-radius: 5px;
}